<header style="background-color: darkgreen; color: white; padding: .5em 1em; margin: 0;">
    <h1>{{pageTitle}}</h1>
    <ul style="list-style:none;">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>

</header>