<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body style="padding:0; margin: 0;">

{{> header}}

<p>Some about text</p>

{{> footer}}
</body>
</html>